body{
	background-color: #006666;
}

h1{
	color: #ffffff;
	text-align: center;
}

h2{
	color: #ffffff;
	text-align: center;
}

h3{
	color: #ffff;
}

.wolke{
	color: #bbb;
	font-size: 40px;
	text-align: center;
}

.wolkig{
	color: #bbb;
	font-size: 20px;
	text-align: center;
}

