body{
	font-family: calibri, sans-serif;
	background-color: #5b5b5b;
}

h1, h2{
	color: #e2e0e0;
	text-align: center;
}
			
h3{
	color: #ffffff;
	background-color: #c1fbf;
	text-align: center;
}
			
p{
	color: #ffffff;
	background-color: #c1bfbf;
	text-align: justify;
}

a{
	color: #ffffff;
	text-decoration: none;
}

h3, p {
	margin: 0
}